* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1F2122;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FF5640;
  justify-content: space-between;
  padding: 10px 30px 10px 15px;
  position: fixed;
  width: 100%;
  height: 5vh;
  top: 0;
  z-index: 2;
}
#header #button-wrapper {
  margin-right: 25px;
}
#header #button-wrapper:hover {
  cursor: pointer;
  transform: scale(0.95);
}
#header #menu-icon {
  height: 25px;
  width: 25px;
}
#sidebar {
  position: fixed;
  z-index: 3;
  right: -300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EAE8E0;
  transition: right 0.5s;
}
#sidebar #close-icon {
  width: 24px;
  height: auto;
}
#sidebar .sidebar-title {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  margin-top: 10px;
}
#sidebar #subreddit-select-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
#sidebar #subreddit-select-form div {
  margin-top: 30px;
  width: 100%;
}
#sidebar #subreddit-select-form #select-posts-types {
  width: 200px;
}
#sidebar #subreddit-select-form .center-content-wrapper {
  display: flex;
  justify-content: center;
}
#sidebar #subreddit-select-form .form-label {
  display: inline-block;
  font-size: 20px;
}
#sidebar #subreddit-select-form .input {
  display: inline-block;
  font-size: 20px;
}
#grid-container {
  background-color: #1F2122;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}
.column-container {
  background-color: #1F2122;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 33.3%;
}
.column-container .post-container {
  padding: 40px;
  background-color: #363636;
  margin: 10px;
  box-shadow: 2px 2px 4px black;
  border-radius: 4px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.column-container .post-container h2 {
  min-height: 5%;
  font-size: 20px;
  color: #8a8a8a;
}
.column-container .post-container .post-title {
  max-width: 100%;
  display: block;
}
.column-container .post-container .media-section {
  position: relative;
  height: 0;
}
.column-container .post-container .media-section .media {
  position: absolute;
  top: 0;
  width: 95%;
  height: auto;
  align-self: center;
  margin: 10px;
  margin-bottom: 20px;
}
.column-container .post-container:hover {
  cursor: pointer;
}
.column-container .post-container .media-section .iframe-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  margin-bottom: 20px;
  border: none;
}
.column-container .post-container .answers-btn-wrapper {
  position: relative;
  flex: 1;
  padding-top: 40px;
}
.column-container .post-container .toggle-answers-btn {
  position: absolute;
  background-color: #1F2122;
  border-radius: 5px;
  text-align: start;
  font-size: 20px;
  border: none;
  padding: 5px;
  color: #8a8a8a;
  bottom: 0;
}
.column-container .post-container .toggle-answers-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.column-container .post-container .answer-wrapper {
  width: 100%;
  color: #8a8a8a;
  margin-top: 5px;
  font-size: 20px;
}
.column-container .post-container .answer-wrapper .answer-index {
  color: white;
}
#loading-label {
  position: absolute;
}
@media all and (max-width: 6500px) {
  .column-container .post-container h2 {
    font-size: 72px;
  }
  #header #logo {
    font-size: 30px;
  }
  #header #menu-icon {
    height: 70px;
    width: 70px;
  }
  .column-container .post-container {
    padding: 40px;
  }
  .column-container .post-container .media-section .media {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #sidebar .sidebar-title {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    margin-top: 30px;
  }
  #sidebar #subreddit-select-form #select-posts-types {
    width: 200px;
  }
  #sidebar #subreddit-select-form .form-label {
    display: inline-block;
    font-size: 35px;
  }
  #sidebar #subreddit-select-form .input {
    display: inline-block;
    font-size: 35px;
  }
  .column-container .post-container .answers-btn-wrapper {
    padding-top: 150px;
  }
  .column-container .post-container .toggle-answers-btn {
    font-size: 70px;
    border-radius: 15px;
    padding: 20px;
  }
  .column-container .post-container .answer-wrapper {
    font-size: 70px;
  }
}
@media all and (max-width: 3200px) {
  .column-container .post-container h2 {
    font-size: 20px;
  }
  #header #logo {
    font-size: 20px;
  }
  #header #menu-icon {
    height: 25px;
    width: 25px;
  }
  .column-container .post-container {
    padding: 20px;
  }
  #sidebar .sidebar-title {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
  }
  #sidebar #subreddit-select-form div {
    margin-top: 10px;
  }
  #sidebar #subreddit-select-form #select-posts-types {
    width: 100px;
  }
  #sidebar #subreddit-select-form .form-label {
    display: inline-block;
    font-size: 15px;
  }
  #sidebar #subreddit-select-form .input {
    display: inline-block;
    font-size: 15px;
  }
  .column-container .post-container .answers-btn-wrapper {
    padding-top: 40px;
  }
  .column-container .post-container .toggle-answers-btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
  }
  .column-container .post-container .answer-wrapper {
    font-size: 20px;
  }
}
@media all and (max-width: 1100px) {
  #grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
  }
  #grid-container .column-container {
    width: 100%;
  }
  #header #logo {
    font-size: 15px;
  }
  .column-container .post-container {
    padding: 10px;
  }
  #sidebar .sidebar-title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
  }
  #sidebar #subreddit-select-form div {
    margin-top: 10px;
  }
  #sidebar #subreddit-select-form .form-label {
    display: inline-block;
    font-size: 10px;
  }
  #sidebar #subreddit-select-form .input {
    display: inline-block;
    font-size: 10px;
  }
  .column-container .post-container .answer-wrapper {
    font-size: 18px;
  }
}
@media all and (max-width: 600px) {
  #grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  #grid-container .column-container {
    width: 100%;
  }
  #header {
    height: 2vh;
  }
  .column-container .post-container .answer-wrapper {
    font-size: 16px;
  }
}
